<nav class="navbar navbar-expand-lg bg-body-tertiary">

    <div class="container-fluid">

        <a class="navbar-brand fw-bold" routerLink="/">
            <i class="fa-solid fa-earth-americas me-2"></i>
            AppPaises
        </a>

        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div
                class="collapse navbar-collapse"
                id="navbarNav">

            <ul class="navbar-nav">

                <li class="nav-item">

                    <a
                            class="nav-link"
                            routerLink="/mostrarPais"
                            routerLinkActive="active">

                        <i class="fa-solid fa-table me-2"></i>
                        Mostrar Países

                    </a>

                </li>

                <li class="nav-item">

                    <a
                            class="nav-link"
                            routerLink="/crearPais"
                            routerLinkActive="active">

                        <i class="fa-solid fa-plus me-2"></i>
                        Crear País

                    </a>

                </li>

                <li class="nav-item">

                    <a
                            class="nav-link"
                            routerLink="/eliminarPais"
                            routerLinkActive="active">

                        <i class="fa-solid fa-trash-can me-2"></i>
                        Eliminar País

                    </a>

                </li>

                <li class="nav-item">

                    <a
                            class="nav-link"
                            routerLink="/actualizarPais"
                            routerLinkActive="active">

                        <i class="fa-solid fa-pen-to-square me-2"></i>
                        Actualizar País

                    </a>

                </li>

            </ul>

        </div>

    </div>

</nav>