<footer class="footer mt-5">

    <div class="container">

        <div class="row align-items-center py-4">

            <div class="col-12 text-center">

                <a
                        routerLink="/"
                        class="footer-brand text-decoration-none">

                    <i class="fa-solid fa-earth-americas me-2"></i>
                    AppPaises

                </a>

                <span class="footer-text ms-3">
                    © 2026 AppPaises
                </span>

            </div>

        </div>

    </div>

</footer>