<div class="inicio">

    <div class="container">

        <div class="row justify-content-center align-items-center min-vh-75">

            <div class="col-12 col-lg-8 text-center">

                <div class="icono-container">
                    <i class="fa-solid fa-earth-americas"></i>
                </div>

                <h1 class="titulo">
                    Bienvenido a
                    <span>AppPaissano</span>
                </h1>

                <p class="descripcion">
                    Una aplicación para gestionar paises de una forma sencilla y agradable para cualquier tipo de entidad mundial bien picante,
                    en la cual podremos conocer informacion sobre paises registrados con cualidades como su moneda, su nombre, su cantidad de personas habitandolo, sus idiomas
                </p>

                <div class="mt-4">

                    <a
                            routerLink="/mostrarPais"
                            class="btn btn-info btn-lg">

                        <i class="fa-solid fa-table me-2"></i>
                        Ver países

                    </a>

                </div>

                <div class="creadores mt-5">

                    <p class="creado-por">
                        Creado por
                    </p>

                    <div class="nombres">

                        <span>
                            <i class="fa-solid fa-user me-2"></i>
                            Jorge Núñez
                        </span>

                        <span>
                            <i class="fa-solid fa-user me-2"></i>
                            Juan García
                        </span>

                        <span>
                            <i class="fa-solid fa-user me-2"></i>
                            Juan Tibazosa
                        </span>

                        <span>
                            <i class="fa-solid fa-user me-2"></i>
                            Sebastián Osorio
                        </span>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>